# EVM
EVM_ADDRESS = 
EVM_PRIVATE = 

# Polymarket
POLY_API_KEY = 
POLY_API_SECRET = 
POLY_API_PASSPHRASE = 

# Polymarket Builder Info
BUILDER_CODE = 
BUILDER_API_KEY = 
BUILDER_SECRET = 
BUILDER_PASS_PHRASE = 

# Polymarket Deposit Wallet
DEPOSIT_WALLET = 

# Telegram notification
BOT_TOKEN = 
MY_CHAT_ID = 

# For extraction from deposit wallet
PERSONAL_ADDRESS = 